.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: flex;
  justify-content: center;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #67798e;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.flex-c {
  flex-direction: column;
}

.modal-head {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.card-img-model {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img-model img{
  width: 90%;
  height: 70%;
}

@media (min-width: 768px) {
  .card-img-model {
    max-width: 1080px;
    width: 100%;
    height: 60%;
    max-height: 600px;
  }
  .card-img-model img {
    width: 100%;
    height: 100%;
  }

  .card-details-pop {
    width: 100%;
    display: flex;
  }

  .work-card-pop {
    width: 80%;
    max-width: 1024px;
    height: 80%;
    top: 1px;
    position: absolute;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }

  .word-desc-pop {
    width: 50%;
  }

  .work-lang-pop {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
  }
  .work-lang-pop ul{
    display: flex;
    justify-content: flex-end;
  }
}
